
body{
    background-color: #EEEEEE;
}

input::placeholder { 
    color: white;
    opacity: 1; 
}

#title::placeholder{
    color: white;
    opacity: 1; 
}

.CreateNewRoomTitle{
    text-align: center;

    @media (max-width : 800px){
        margin-left: 50px;
        text-align: left;

    }
}

.create-room-form{
    min-width: 800px;
    width: 80%;
    display: flex; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.Scores .form-group input{
    width: 50px;
    margin-left: auto; 
    justify-content: right; 
    height: 25px;
}


.ScoreTriangle{
    display: flex;
}

.ScoreRectangle{
    display: flex;
}

.ScoresFlag{
    display: flex;
}

.ScoresPeople{
    display: flex;
}

.Scores .form-group input{
    background-color: #51ADCF ;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}

.create-room-form .form-group input{
    background-color: #51ADCF ;
    color: white;
    font-size: 15px;
    text-align: center;
    
}


.CreateRoomButton{
    width: 100%;
    align-content: center;
    background-color: #0278AE ;
}

.CloseRoomButton{
    text-align: center;
    width: 50%;
    background-color: #0278AE;
}