.ChangePassword-userPopUP{
    max-width: 1000px;
    background-color: #51ADCF;
}


.ChangePassword-userPopUP .ChangePassword {
    justify-content: center !important;
}

.ChangePassword{
    padding-top: 0px;
    text-align: center !important;
    color: white;
    
}

.ConfirmChangePasswordInput{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
    
}

.ChangePasswordButton .UserChangePasswordChange {
    font-size: 14px;
    margin: 0px;
    height: 35px;
    border-radius: 3px;
    display: block;
    margin:auto;
}


.ChangePasswordButton input{
    margin-top: 10px !important;
    width: 40% !important;

}
 

.ChangePassword input::placeholder{
    color: gray;
    opacity: 1;
}

.UserProperties {
    text-align: center;
}

.UserProperties img{
    border-radius: 50px;
}

.UserProperties label{
    padding-left: 35px;
    font-size: 25px;

}

.ChangePasswordInput input{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.ChangePasswordInput label{
    font-size: 15px;
    display: block;
    text-align: center;
}

.ConfirmChangePasswordInput input{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.ConfirmChangePasswordInput label{
    font-size: 15px;
    display: block;
    text-align: center;
}


.ChangePasswordButton{
    text-align: center;
    
}

.ChangePasswordButton .UserChangePasswordChange{
    font-size: 10px;
    padding: 5px;
    width: fit-content;
    background-color: #0278AE ;
}

