/*--------------------------HAMBURGUER MENU----------------- 
---------------------------------------------------*/

.header-menu {
    max-width: 100%;
    background: $color-secondary;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    /* Para posicionar el boton menu al inicio 
    y el avatar al final: */
    @include flex-row-spacebetween;
}


/* dandole propiedades de container para el avatar 
y el nombre: */

.header-menu {
    .user {
        @include flex-row-spacearound;
        align-items: center;
        width: 6%;
        img {
            height: 40px;
            width: 40px;
            border-radius: 100%;
        }
        p {
            color: white;
        }
    }
}

#btn-menu {
    display: none;
}

.menu {
    position: absolute;
    background: #0278AE;
    width: 14%;
    margin-left: -70%;
    transition: all 1s;
}

.header-menu label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

.header-menu label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

#btn-menu:checked~.menu {
    margin-left: 0%;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu li {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    flex-grow: 1;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}