.modal-header-tutor {
  color: #191919;
  /*
  .form-search {
    background-image: url("../../img/search-interface-symbol.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 25px;

    &:focus {
      background-image: none;
    }
  }
  */
}
